.container {
    width: 70%;
    margin: 0 auto;
    min-width: 600px;
}

h1 {
    display: inline;
    width: 60%;
    margin-right: -4px;
}

.actions {
    width: 20%;
    display: inline;
    text-align: right;
}